%p
  - members = redis.smembers("/numbers_to_happy")
  %small
    = "待抽号码(#{members.count})："
    = redis.smembers("/numbers_to_happy")

%small
  - redis_keys =redis.keys("/members/*")
  = "参与抽奖的同事名单（共#{redis_keys.count}位）"
%table.table.table-condensed.table-bordered
  %tbody
    - redis_keys.each do |redis_key|
      - h = redis.hgetall(redis_key)
      %tr
        %td= h['name']
        %td= h['rand']
        %td= h['prize']
