.jumbotron{style: 'margin-bottom: 0px;'}
  %h1 抽奖环节
  %p 2017 乐课力办公室年会

:css
  .list-group-item>.badge { background: green; }
%ul.list-group
  %li.list-group-item
    %span.badge x1
    现金一等奖(3,000)
  %li.list-group-item
    %span.badge x2
    现金二等奖(1,500)
  %li.list-group-item
    %span.badge x4
    现金三等奖(600)
  %li.list-group-item
    %span.badge x1
    物品一等奖(iPad)
  %li.list-group-item
    %span.badge x3
    物品二等奖(Kindle)

- redis_kyes = redis.keys("/members/*")
%small
  = "参与抽奖的同事名单（共#{redis_kyes.count}位）"
%table.table.table-condensed.table-bordered
  %tbody
    - redis_kyes.each do |redis_key|
      - h = redis.hgetall(redis_key)
      %tr
        %td= h['name']
        %td= h['organize']

%small
  = link_to '源代码', 'https://github.com/jay16/happy_money', target: '_blank'
